.landing {
    display: flex;
    justify-content: center;
    box-sizing:border-box;
    height: 600px;
    width: 100%;
}

.landing-title {
    justify-content: center;
    display: flex;
    align-items: center;

    p {
        font-weight: 600;
        font-size: 3rem;
    }

}

.name {
    color: rgb(212, 158, 19);
}

@media screen and (max-width: 768px){
    .landing-title {
        p {
            font-size: 2.5rem;

            transition: ease-in-out 1s;
        }
    }
}

@media screen and (max-width: 500px){
    .landing-title {
        p {
            font-size: 1.6rem;

            transition: ease-in-out 1s;
        }
    }
}